@model IEnumerable<SORAPC.Models.Catalog>

@{
    ViewData["Title"] = "Рабочие станции";

    var filteredModel = Model.Where(i => i.CategoryId == 2);
}

<div class="workstations-container">
    <h2>Мощные. Премиальные решения для профессионалов.</h2>
    @foreach (var i in filteredModel)
     {
        <div class="workstation-card">
             <img src="@i.ImageUrl" alt="null">
             <h3>@i.Names</h3>
             <p class="price">Цена @i.Price.ToString("N0") ₽</p>
             <p>@i.Descriptions</p>
             <button class="btn config-btn">КОНФИГУРАТОР</button>
            <a asp-action="Details" asp-route-id="@i.IdCatalog" class="btn details-btn">ПОДРОБНЕЕ</a>
         </div>
     }
</div>